body {
    background-color: #1a202c;
    height: 100vh;
}

#help-button {
    background-color: green;
    color: white;
    border-radius: 0.25rem;
    justify-content: right;
}

#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    stroke: black;
    stroke-width: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.4vh;
    margin: 0 auto;
    width: 60vh;
    height: 40vh;
}

.grid-container button {
    aspect-ratio: 1 / 1;
    background-color: #4a5568;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
}

.grid-container button:hover {
    background-color: lightgray;
}